@import "../../assets/variables";

.leftContainer {
  position: fixed;
  overflow-y:scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
  height: 93.3vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  margin-top: 5rem;
  width: 350px;

  //   position: fixed;


}

hr {
  align-self: center;
  color: black;
  height: 2px;
  width: 88%;
  margin: 13px 9% 13px 9%;
}
