@import '../../../assets/variables';

.birthdaySectionContainer {
  position: relative;
  margin: 0px 0px 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .birthdayIcon {
   position: absolute;
    bottom: 0.1px;
    color: #c35bb8;
  }

  h1 {
    color: $quaternary;
    margin:0 0 15px 0;
  }

  .birthdayName {
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
    color: $primary;
    &:hover{
      text-decoration: underline;
    }
  }
}
