@import '../../assets/variables';

.leftWrapper {
  width: 48%;
  display: flex;
  flex-direction: column;

  .biography {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: lightgray;
    h1 {
      margin: 5px 0 10px 20px;
    }

    p {
      margin: 5px 0 5px 20px;
      display: flex;
      align-items: center;
      gap: 5px;

      .infoLink {
        text-decoration: none;
        font-weight: bold;
        color: black;
        transition: 0.3s all;
        &:hover {
          color: $primary;
        }
      }
    }

    .addInfoButton {
      width: 90%;
      align-self: center;
      justify-self: center;
      margin-bottom: 10px;
      background-color: $primary;
      transition: 0.3s all;
      margin-top: 20px;

      &:hover {
        background-color: teal;
      }
    }
  }

  .photoWrapper, .friendsWrapper {

    background-color: lightgray;
    border-radius: 8px;
    display: block;

    margin-top: 30px;

    .gridContainer {
      margin: 5px 0px 10px 33px;
      border-radius: 8px;
    }
  }
}
