@import "./assets/variables";

.autentification {
   display: flex;
   margin: 250px auto 0 auto;
   flex-direction: column;
   width: 40rem;
   height: auto;
   border-radius: 20px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
   padding: 2rem;
   text-align: center;
   color: white;

   h1 {
      text-align: center;
   }

   form {
      .control {
         margin-bottom: 0.5rem;
         label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
         }

         input {
            height: 40px;
            color: #3f013f;
            border-radius: 4px;
            border: 1px solid white;
            width: 100%;
            text-align: left;
            padding: 0.25rem;
         }
      }
      .actions {
         margin-top: 1.5rem;
         display: flex;
         flex-direction: column;
         align-items: center;

         .toggle {
          background-color: teal;
          font-weight: bold;
          border-radius: 10px;
            margin-top: 1rem;
            color: white;
            border: none;
            padding: 0.15rem 1.5rem;
            &:hover {
               background-color: lightblue;
               border-color: cadetblue;
            }
         }
      }
   }
}
